* {
  margin: 0;
  padding: 0;
}

.MerchCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 60px 0;
}

.perfH2{
  font-size: 3rem;
}

.itemList{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15rem;
  padding-block: 2rem;
}

